parameters:
  level: max
  paths:
    - src
  excludePaths:
    analyse:
      - src/Component/*/vendor/*
  typeAliases:
    JsonSchemaDefinition: '''
      array{
        title?: string,
        description?: string,
        default?: mixed,
        deprecated?: boolean,
        readOnly?: boolean,
        writeOnly?: boolean,
        additionalProperties?: boolean|mixed,
        properties?: array<string, mixed>,
        patternProperties?: array<string, mixed>,
        type?: JsonSchemaType|array<JsonSchemaType>,
        enum?: string[],
        const?: mixed,
        multipleOf?: positive-int,
        minimum?: int,
        exclusiveMinimum?: int,
        maximum?: int,
        exclusiveMaximum?: int,
        minLength?: positive-int,
        maxLength?: positive-int,
        pattern?: string,
        items?: mixed,
        prefixItems?: array<int, mixed>,
        minItems?: positive-int,
        maxItems?: positive-int,
        uniqueItems?: boolean,
        contains?: mixed,
        minContains?: positive-int,
        maxContains?: positive-int,
        minProperties?: positive-int,
        maxProperties?: positive-int,
        required?: string[],
        dependentRequired?: array<string, string[]>,
        format?: JsonSchemaFormat,
        contentEncoding?: string,
        contentMediaType?: string,
        contentSchema?: mixed,
        '$ref'?: string,
        '$defs'?: array<int|string, mixed>,
        definitions?: array<int|string, mixed>
      }
    '''
    JsonSchemaType: "'array'|'boolean'|'integer'|'number'|'null'|'object'|'string'"
    JsonSchemaFormat: "'date-time'|'date'|'time'|'duration'|'email'|'idn-email'|'hostname'|'idn-hostname'|'ipv4'|'ipv6'|'uri'|'uri-reference'|'uri-template'|'iri'|'iri-reference'|'uuid'|'regex'"
