includes:
  - phpstan-baseline.neon

parameters:
  level: max
  tmpDir: cache
  paths:
    - ../../src
  excludePaths:
    analyse:
      - ../../src/Component/*/vendor/*
      - ../../src/Component/**/Generated/*
      - ../../src/Component/**/automapper-cache/*
  typeAliases:
    JsonSchemaDefinition: '''
      array{
        title?: string,
        description?: string,
        default?: mixed,
        deprecated?: boolean,
        readOnly?: boolean,
        writeOnly?: boolean,
        additionalProperties?: boolean|mixed,
        properties?: array<string, mixed>,
        patternProperties?: array<string, mixed>,
        oneOf?: array<mixed>,
        oneof?: array<mixed>,
        allOf?: array<mixed>,
        allof?: array<mixed>,
        anyOf?: array<mixed>,
        anyof?: array<mixed>,
        type?: JsonSchemaType|array<JsonSchemaType>,
        enum?: string[],
        const?: mixed,
        multipleOf?: positive-int,
        minimum?: int,
        exclusiveMinimum?: int,
        maximum?: int,
        exclusiveMaximum?: int,
        minLength?: positive-int,
        maxLength?: positive-int,
        pattern?: string,
        items?: mixed|array<mixed>,
        additionalItems?: mixed,
        prefixItems?: array<int, mixed>,
        prefixitems?: array<int, mixed>,
        minItems?: positive-int,
        maxItems?: positive-int,
        uniqueItems?: boolean,
        contains?: mixed,
        minContains?: positive-int,
        maxContains?: positive-int,
        minProperties?: positive-int,
        maxProperties?: positive-int,
        required?: string[],
        dependentRequired?: array<string, string[]>,
        format?: JsonSchemaFormat,
        contentEncoding?: string,
        contentMediaType?: string,
        contentSchema?: mixed,
        '$ref'?: string,
        '$defs'?: array<int|string, mixed>,
        definitions?: array<int|string, mixed>
      }
    '''
    JsonSchemaType: "'array'|'boolean'|'integer'|'number'|'null'|'object'|'string'"
    JsonSchemaFormat: "'date-time'|'date'|'time'|'duration'|'email'|'idn-email'|'hostname'|'idn-hostname'|'ipv4'|'ipv6'|'uri'|'uri-reference'|'uri-template'|'iri'|'iri-reference'|'uuid'|'regex'"
    JsonSchemaContext: '''
      array{
        schema?: string|null,
        skip_reference?: boolean
      }
    '''
